body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto-Regular";
    background-color: azure;
}

#menu {
    display: flex;
    width: fit-content;
    margin-top: 10px;
    gap: 10px;
    margin: auto;
}

.mode {
    background-color: rgb(240, 252, 217);
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: 15px;
    font-family: 'Roboto-Regular';
}

h1 {
    text-align: center;
    background-color: beige;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 45px;
}

.row {
    display: flex;
    width: fit-content;
}

.cell {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;

}

.pion {
    width: 100px;
    display: flex;

}

#rejouer {
    text-align: center;
    margin: 50px;
}

#error {
    font-family: 'Roboto-Regular';
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.bouton {
    background-color: rgb(240, 252, 217);
    cursor: pointer;
    width: 200px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    font-family: 'Roboto-Regular';
}

#end {
    font-family: 'Roboto-Regular';
    font-size: 30px;
}

#gameContainer {

    width: fit-content;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/font/Roboto-Regular.ttf);
}